---
layout: default
title: QUAIL Tests
script: /js/test-view.js
---

<div class="page-header">
	<h1 id="test-name"></h1>
</div>
<div class="row">
	<div class="col-md-6">
		<p class="lead" id="description"></p>
		<dl class="dl-horizontal">
		  <dt>Quail name</dt>
		  <dd><code id="quail-name"></code></dd>
		  <dt>Test type</dt>
		  <dd><code id="type"></code></dd>
		  <dt>Selector</dt>
		  <dd><code id="selector"></code></dd>
		</dl>
	</div>
	<div class="col-md-6">
		<h2>Raw JSON</h2>
		<pre id="raw"><code></code></pre>
	</div>
</div>